*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  color: #5a5544;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(3, min-content) 40vw repeat(2, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.btn, .btn:link, .btn:visited {
  padding: 1.5rem;
  border-radius: 2px;
  font-family: "Josefin Sans", sans-serif;
  background-color: #614c06;
  text-decoration: none;
  border: none;
  color: #fff;
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-0.4rem);
  background-color: #a07c08;
  box-shadow: 0 2rem 2rem rgba(58, 54, 45, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 2rem 2rem rgba(58, 54, 45, 0.2); }

.btn__text {
  font-size: 1.4rem; }
  .btn__text:link, .btn__text:visited {
    text-decoration: none;
    display: inline-block;
    color: #a07c08;
    transition: all .2s; }
  .btn__text:hover {
    color: #f0d270;
    transform: translateY(-0.2rem);
    box-shadow: 0 2rem 3rem rgba(160, 124, 8, 0.3); }

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5 {
  font-family: "Josefin Sans", sans-serif; }

.heading-1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #f0d270;
  font-weight: 300; }

.heading-2 {
  text-transform: uppercase;
  font-size: 3rem;
  color: #614c06;
  font-weight: 300; }

.heading-3 {
  font-size: 2.5rem; }

.heading-4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 300; }

.heading-5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300; }

.section-title {
  grid-column: 1 /-1;
  text-align: center; }
  .section-title::after {
    content: "";
    display: block;
    height: 1.5px;
    width: 8rem;
    background-color: rgba(160, 124, 8, 0.8);
    margin: 1rem auto; }

.header {
  background-color: #05040e;
  background-image: linear-gradient(to right, #05040e, rgba(5, 4, 14, 0.7), rgba(5, 4, 14, 0.4)), url(../img/businessman-01-lg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  grid-column: full-start / col-end 5;
  padding: 15% 0;
  text-align: center;
  display: grid;
  grid-template-columns: minmax(60rem, auto);
  justify-content: center;
  align-items: center;
  grid-row-gap: 3rem; }
  .header__logo {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-column-gap: 1rem;
    align-items: center;
    color: rgba(160, 124, 8, 0.7); }
    .header__logo::before, .header__logo::after {
      content: "";
      display: block;
      height: 1px;
      background-color: currentColor; }
  .header__sub {
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 3rem max-content 3rem;
    grid-column-gap: 2rem;
    justify-content: center;
    align-items: center;
    color: rgba(240, 210, 112, 0.7); }
    .header__sub::before, .header__sub::after {
      content: "";
      display: block;
      height: 1px;
      background-color: rgba(160, 124, 8, 0.3); }

.sidebar {
  background-image: linear-gradient(to bottom, #a07c08, #f0d270, #614c06, #a07c08, #f0d270, #614c06, #a07c08);
  grid-row: 1 / -1;
  display: flex;
  justify-content: center; }

.nav-btn {
  border: none;
  border-radius: 0;
  width: 3.5rem;
  height: .2rem;
  background-color: #f4ebcc;
  margin-top: 4rem;
  position: fixed; }
  .nav-btn::before, .nav-btn::after {
    content: "";
    display: block;
    width: 3.5rem;
    height: .2rem;
    background-color: #f4ebcc; }
  .nav-btn::before {
    transform: translateY(1rem); }
  .nav-btn::after {
    transform: translateY(-1.1rem); }

.initialcontact {
  background-image: linear-gradient(to right bottom, #05040e, #02010f, #05040e, #067c72, #05040e);
  color: #fff;
  grid-column: col-start 6 / -1;
  display: grid;
  grid-template-columns: minmax(5rem, auto) [form-start] minmax(20rem, auto) [form-end] minmax(5rem, auto);
  justify-content: center;
  align-items: center;
  grid-row-gap: 2rem; }
  .initialcontact__title {
    font-weight: 300;
    grid-column: form-start /form-end;
    align-self: end; }
  .initialcontact__form {
    grid-column: form-start /form-end;
    align-self: start; }

.form {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(20rem, 1fr);
  grid-row-gap: 1.8rem;
  color: #5a5544;
  font-family: "Lato", sans-serif; }
  .form__input {
    background-color: #fff;
    border-radius: 2px;
    min-height: 5rem;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: none;
    letter-spacing: 2px; }
  .form__textarea {
    color: #5a5544;
    font-family: "Lato", sans-serif; }

.fields {
  padding: 5rem 0;
  grid-column: full-start / full-end;
  background-image: url(../img/review-lg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  .fields__content {
    display: grid;
    grid-column: center-start / center-end;
    justify-content: center;
    text-align: center;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 5rem;
    padding: 4rem 8rem; }

.field {
  display: grid;
  grid-gap: 1.5rem;
  justify-content: center;
  background-color: rgba(5, 4, 14, 0.8);
  padding: 4rem 3rem;
  box-shadow: 0 1rem 2rem rgba(160, 124, 8, 0.2);
  transition: all .2s; }
  .field__icon {
    fill: #a07c08;
    width: 6rem;
    height: 6rem;
    justify-self: center;
    transform: translateY(-1rem);
    padding: 1rem;
    border: 1px solid #614c06; }
  .field__text {
    font-size: 1.6rem;
    color: #a59e87; }
  .field h4 {
    color: #a07c08;
    font-weight: 400; }
  .field:hover {
    transform: translateY(-1rem);
    box-shadow: 0 2rem 2rem rgba(160, 124, 8, 0.3); }

.about {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to right bottom, #05040e, #02010f, #067c72, #05040e);
  padding: 5rem 0; }
  .about h2 {
    color: #f0d270;
    font-weight: 300; }
  .about__content {
    display: grid;
    grid-template-columns: repeat(2, minmax(25rem, 1fr));
    grid-row-gap: 5rem;
    grid-column-gap: 5rem;
    padding: 4rem 12rem;
    justify-content: center;
    align-items: center; }
    .about__content h4 {
      color: #f0d270;
      font-weight: 300; }
  .about__feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 3rem;
    align-items: center; }
  .about__icon {
    width: 8rem;
    height: 8rem;
    grid-row: 1 /2;
    fill: #f0d270; }
  .about__text {
    grid-column: 2/3;
    font-size: 2rem;
    color: #f4ebcc; }

.attoneys {
  padding: 5rem 0;
  grid-column: full-start / full-end;
  background-image: linear-gradient(rgba(6, 124, 114, 0.6), rgba(160, 124, 8, 0.7)), url(../img/pen-lg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .attoneys__content {
    display: grid;
    grid-column: center-start / center-end;
    justify-content: center;
    text-align: center;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    padding: 4rem 10rem; }
  .attoneys .section-title {
    color: #f0d270; }
    .attoneys .section-title::after {
      background-color: #f0d270; }

.attoney {
  width: 100%;
  height: 35rem;
  border-radius: .5rem;
  position: relative;
  color: #f4ebcc;
  perspective: 150rem;
  -moz-perspective: 150rem; }
  .attoney__side {
    position: absolute;
    transition: all .8s ease;
    height: 35rem;
    width: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    border-radius: 5px;
    overflow: hidden; }
    .attoney__side--back {
      background-image: linear-gradient(to right bottom, #05040e, #02010f, #067c72, #05040e);
      transform: rotateY(180deg);
      padding: 2rem 3rem;
      text-align: left;
      display: grid;
      grid-row-gap: 1rem; }
      .attoney__side--back h5 {
        color: #f0d270;
        border-bottom: solid 1px currentColor; }
      .attoney__side--back p {
        font-size: 1.3rem; }
  .attoney:hover .attoney__side--front {
    transform: rotateY(-180deg); }
  .attoney:hover .attoney__side--back {
    transform: rotateY(0); }
  .attoney p {
    font-size: 1.5rem; }
  .attoney__img {
    width: 100%;
    object-fit: cover;
    height: 100%; }
  .attoney__details {
    position: absolute;
    z-index: 5;
    background-color: rgba(5, 4, 14, 0.9);
    top: 60%;
    left: 0;
    width: 100%;
    height: 40%;
    padding: 2rem; }
  .attoney__name {
    font-weight: 300;
    color: #f0d270; }

.review__main {
  grid-column: full-start / col-end 3;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-row-gap: 2rem;
  justify-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center; }

.review__img {
  width: 100%;
  height: 100%;
  grid-column: 1 /-1;
  grid-row: 1/-1;
  object-fit: cover;
  background-image: linear-gradient(#111111, #fdd29d); }

.review__blur-box {
  z-index: 5;
  grid-row: 3 /6;
  grid-column: 2 / 8;
  height: 35rem;
  width: 35rem;
  border-radius: 50%;
  filter: blur(10px);
  background-color: rgba(253, 210, 157, 0.6); }

.review__large {
  color: #05040e;
  grid-row: 3 /6;
  grid-column: 2 / 8;
  z-index: 6; }
  .review__large--title {
    text-transform: capitalize;
    font-weight: 400; }
  .review__large--quote {
    font-size: 1.8rem; }
  .review__large::before {
    content: "\201c";
    position: absolute;
    top: -2%;
    left: 10%;
    font-size: 20rem;
    color: rgba(97, 76, 6, 0.3);
    font-family: sans-serif; }

.review__text {
  background-color: blanchedalmond;
  grid-column: col-start 4 / -1; }

.contact {
  background-color: lightskyblue;
  grid-column: full-start / full-end; }

.footer {
  background-color: black;
  color: white;
  grid-column: 1 / -1; }
