.about {                                 
    grid-column: full-start / full-end;
    // position: relative;  
    background-image: linear-gradient(to right bottom, 
                                        $color-secondary-dark, 
                                        $color-secondary, 
                                        $color-light-blue, 
                                        $color-secondary-dark);
    padding: 5rem 0;
    
    
    & h2 {
        color: $color-primary-light;
        font-weight: 300;
    }
    
    &__content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 40%));
        grid-row-gap: 5rem;
        grid-column-gap: 5rem;

        padding: 4rem 12rem;
        justify-content: center;
        align-items: center;  

        & h4 {
            color: $color-primary-light;
            font-weight: 300;
        }
    }


    &__feature {
        display: grid;
        // grid-template-columns: min-content 1fr;
        grid-template-columns: repeat(autofit, minmax(min-content, 1fr));
        
        grid-column-gap: 3rem;
        align-items: center;
        transform: translateY(0);
        transition: all .2s;
        overflow: hidden;
        padding: 0 1.5rem;
        padding-bottom: 1.5rem;

        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: 3;
            // top: -110%;
            // left: -210%;
            top: -200%;
            left: -100%;
            width: 200%;
            height: 300%;
            opacity: 0;
            transform: rotate(30deg);
            background-color: rgba(255, 255, 255, .13);
            // background: linear-gradient(
            //      to left,     
            //      rgba(255, 255, 255, 0.2) 0%,
            //     rgba(255, 255, 255, 0.2) 37%,
            //     rgba(255, 255, 255, 0.9) 45%,
            //     rgba(255, 255, 255, 0.0) 50%
            // );

            background: linear-gradient(
                 to left,     
                 rgba($color-primary-light, 0.2) 0%,
                rgba($color-primary-light, 0.2) 37%,
                rgba($color-primary-light, 1) 45%,
                rgba($color-primary-light, 0.0) 50%
            );
        }
        &:hover {
            cursor: pointer;
            transform: translateY(-2%);
        }
        &:hover::before   {
            animation: shine 1.5s ease .3s;
            }   
         
    }
    &__icon {
        width: 8rem;
        height: 8rem;
        grid-row: 1 /2;
        fill: $color-primary-light;
    }
    &__text{
        grid-column: 2/3;
        font-size: 2rem;
        color: $color-grey-light-1;
    }
}

@keyframes shine {

    
    80%{
        top: 250%;
        left: 110%;
        opacity: 1;
    }
    100% {
        top: 250%;
        left: 180%;
        opacity: 0;
    }
}
