//COLOR VARIABLES
$color-primary: #a07c08;
$color-primary-light: #f0d270;
$color-primary-dark: #614c06;
$color-primary-dark-2: #312602;


$color-secondary: #02010f;
$color-secondary-light: #0c0930;
$color-secondary-mid: #050222;

$color-secondary-dark: #05040e;
$color-secondary-dark-2: #070608;

$color-light-blue:#067c72;

$color-grey-light-1: #f4ebcc;
$color-grey-light-2: #a59e87;

$color-grey-dark-1: #5a5544;
$color-grey-dark-2: #3a362d;
$color-grey-dark-3: #1d1a15;

$color-white: #f0f0f6;
$color-black:#111111;

$color-pink: #fdd29d;
$color-pink-mid: #f5ac75;
$color-pink-dark: #bd6d52;


$color-beige: #f5f0c6;
$color-beige-mid: #e1b266;
$color-beige-dark: #a76b40;

// FONT VARIABLES
$font-primary: 'Lato', sans-serif;
$font-display: 'Josefin Sans', sans-serif;



// RESPONSIVE BREAKPOINTS



*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10/16 = 0.625
}
body {
    font-family: $font-primary;
    // color: $color-grey-dark-2;
    color: $color-grey-dark-1;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6;

}
.container {
    display: grid;
    //grid-template-rows: 100vh repeat(3, min-content) 40vw repeat(2, min-content);

    //review-3 version
    grid-template-rows: 100vh repeat(3, min-content) repeat(3, min-content);
    
    // start with 8 column layout and add the extra columns
    // sidebar/ 1fr(left side of the 8 column to center the main 8 column)/ 8 column / 1fr(right side of the 8 column to center the main 8 column)
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; //1140/8 = 142.5
    
    
}