
.btn {
    &,
    &:link, 
    &:visited{
        padding: 1.5rem;
        border-radius: 2px;
        font-family: $font-display;
        background-color: $color-primary-dark;
        text-decoration: none;
        border: none;
        color: #fff;
        text-align: center;
        align-self: center;
        font-size: 1.5rem;
        text-transform: uppercase;   
        display: block;
        cursor: pointer;
        transition: all .2s;
    }
    &:hover {
        transform: translateY(-0.4rem);
        background-color: $color-primary; 
        box-shadow: 0 2rem 2rem rgba($color-grey-dark-2, .2);
    }   
    &:active, 
    &:focus {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 2rem 2rem rgba($color-grey-dark-2, .2);
    }
}