.header {
    background-color: $color-secondary-dark;
    background-image: linear-gradient(to right, rgba($color-secondary-dark, 1), rgba($color-secondary-dark, .7), rgba($color-secondary-dark, .4)), url(../img/businessman-01-lg.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    grid-column: full-start / col-end 5;
    padding: 15% 0;
    text-align: center;
    display: grid; 
    grid-template-columns: minmax(60rem, auto);
    justify-content: center;
    align-items: center;
    
    grid-row-gap: 3rem;

    &__logo {
        display: grid;
        grid-template-columns: 1fr min-content 1fr;
        grid-column-gap: 1rem;
        // justify-content: center;
        align-items: center;
        color: rgba($color-primary, .7);
        &::before, 
        &::after {
            content: "";
            display: block;
            height: 1px;
            background-color: currentColor;
        }
    }

        &__sub {
        font-family: $font-primary;
        font-size: 1.5rem;
        text-transform: uppercase;

        display: grid;
        grid-template-columns: 3rem max-content 3rem;
        grid-column-gap: 2rem;
        justify-content: center;
        align-items: center;
        color: rgba($color-primary-light, .7);

        &::before, 
        &::after {
            content: "";
            display: block;
            height: 1px;
            background-color: rgba($color-primary, .3);
        }
    }
}