@mixin goldShadow {
    box-shadow: 0 2rem 2rem rgba($color-primary-dark, .3);
}

@mixin quote {
    &::before{
        content: "\201c";
        position: absolute;
        color: rgba($color-primary-dark, .3);
        font-family: sans-serif;
        z-index: 10;
    }
}

@mixin sideLines { 
    &::before,
    &::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor;
    }
}
