.review {
    
    &__main {

        grid-column: full-start / col-end 3;

        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(10, 1fr);    
        grid-row-gap: 2rem;
        justify-content: center;
        align-items: center;
        justify-content: center;
        position: relative;
        text-align: center;
        
    }
    &__img {
        width: 100%;
        height: 100%;
        grid-column: 1 /-1;
        grid-row: 1/-1;  
        object-fit: cover;
    }
    &__blur-box{       
        z-index: 5;
        grid-row: 3 /6;
        grid-column: 2 / 8;
        
        height: 35rem;
        width: 35rem;
        border-radius: 50%;
        filter: blur(10px);
        background-color: rgba($color-pink, .6);      
    }
    &__large {
        color: $color-secondary-dark;
        grid-row: 3 /6;
        grid-column: 2 / 8;
        z-index: 6;
        &--title {
            text-transform: capitalize;
            font-weight: 400;
        }
        &--quote {
            font-size: 1.8rem;
        }
        &::before{
            content: "\201c";
            position: absolute;
            top: -2%;
            left: 10%;
            font-size: 20rem;
            color: rgba($color-primary-dark, .3);
            font-family: sans-serif;
            

        }
    }
    &__text {
        background-color: blanchedalmond;
        grid-column: col-start 4 / -1;
    }
}