.stories {
   
    
    &__pictures {
        background-color: purple;
        grid-column: full-start / col-end 7;
    }
    &__text {
        background-color: blanchedalmond;
        grid-column: col-start 8 / -1;
    }
}